
// Summary table that appears on the right of various pages.

$yes: lighten($green, 25%);
$no: lighten($red, 25%);
$unknown: lighten($gray-500, 25%);

#summary-table {
    float: right;
    width: 40%;
    display: block;
    padding: 0.5em;
    margin-left: 1em;
    background: $gray-100;

    tbody {
        display: inline-table;
        width: 100%;
    }

    &.extension {
        max-width: 320px;
    }

    th, td {
        padding: 0.25rem;
    }

    p {
        margin: 0 0;
    }

    .summary-photo {
        img {
            width: 100%;
            cursor: zoom-in;
        }
    }

    .icon {
        text-align: center;

        img {
            max-height: 32px;
            nax-width: 32px;
        }
    }

    .summary-caption {
        text-align: center;
    }

    .platforms {
        img {
            display: inline-block;
            width: 24px;
            height: 24px;
        }
    }

    .boolean {
        .true {
            background: $yes;
        }

        .false {
            background: $no;
        }

        .unknown {
            background: $unknown;
        }
    }

    .links {
        img {
            display: inline-block;
            width: 24px;
            height: 24px;
        }
    }
}

.relative-date {
    display: none;
    font-size: 0.8em;
    color: $gray-700;
    vertical-align: middle;

    &:before {
        content: "(";
    }

    &:after {
        content: ")";
    }
}

@media screen and (max-width: $small-display) {
    #summary-table {
        width: 100%;
    }
}
