
// Summary table that appears on the right of various pages.

#summary-table {
    float: right;
    width: 40%;

    th, td {
        padding: 0.25rem;
    }

    p {
        margin: 0 0;
    }

    .summary-photo {
        img {
            width: 100%;
            cursor: zoom-in;
        }
    }

    .summary-caption {
        text-align: center;
    }

    .platforms {
        img {
            display: inline-block;
            width: 24px;
            height: 24px;
        }
    }

    .links {
        img {
            display: inline-block;
            width: 24px;
            height: 24px;
        }
    }
}

.relative-date {
    display: none;
    font-size: 0.8em;
    color: $gray-700;
    vertical-align: middle;

    &:before {
        content: "(";
    }

    &:after {
        content: ")";
    }
}

@media screen and (max-width: $small-display) {
    #summary-table {
        width: 100%;
    }
}
