<hr>
<footer class="container">
    <div class="col-12">
        <p>ClickWiki is written and maintained by clickers like you. This community project is not affiliated in any way with Clickteam. </p>
        <p>By visiting and contributing, we assume you don't mind our use of cookies. See the <a href="/privacy">Privacy Policy</a> for more details.</p>
    </div>
    <div class="col-12">
        <a href="{{ site.facebook_url }}" title="ClickWiki on Facebook">
            <span class="fab fa-facebook-square"></span>
        </a>
        <a href="{{ site.twitter_url }}" title="ClickWiki on Twitter">
            <span class="fab fa-twitter-square"></span>
        </a>
        <a href="{{ site.github_url }}" title="ClickWiki on GitHub">
            <span class="fab fa-github-square"></span>
        </a>
        <a href="{{ site.github_url }}" title="ClickWiki on Discord">
            <span class="fab fa-discord"></span>
        </a>
    </div>
</footer>
