<footer class="container">
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <p>
            <a href="{{ site.repo_url }}/edit/master/{{ page.path }}"><span class="fa fa-edit"></span> Edit this page</a> |
            <a href="{{ site.repo_url }}/commits/master/{{ page.path }}">Page History</a> |
            <a href="/contribute/">How to Contribute</a> |
            <a href="/about/">About ClickWiki</a> |
            <a id="darkmode" onclick="toggleDarkMode()"><span class="fa fa-moon"></span></a>
            <a id="lightmode" onclick="toggleDarkMode()"><span class="fa fa-sun"></span></a>
        </p>
    </div>
    <div class="col-12">
        <p>ClickWiki is a community project written and maintained by clickers. Not affiliated with Clickteam. </p>
    </div>
    <div class="col-12">
        <p>
            <a href="{{ site.github_url }}" title="ClickWiki on GitHub">
                <span class="fab fa-github-square"></span>
            </a>
            <a href="{{ site.discord_url }}" title="ClickWiki on Discord">
                <span class="fab fa-discord"></span>
            </a>
        </p>
    </div>
    <div class="col-12">
        <p>Wiki content is licensed under <a href="/license#CC-BY-4.0">CC-BY-4.0</a>. Website code licensed under <a href="/license#GPLv3">GPLv3</a>.</p>
    </div>
</footer>
