<footer class="container">
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <p>
            <a href="{{ site.repo_url }}/edit/master/{{ page.path }}"><span class="fa fa-edit"></span> Edit this page</a> |
            <a href="{{ site.repo_url }}/commits/master/{{ page.path }}">Page History</a> |
            <a href="/about/">About ClickWiki</a>
        </p>
    </div>
    <div class="col-12">
        <p>ClickWiki is written and maintained by clickers like you. This community project is not affiliated with Clickteam. </p>
    </div>
    <div class="col-12">
        <p>
            <a href="{{ site.facebook_url }}" title="ClickWiki on Facebook">
                <span class="fab fa-facebook-square"></span>
            </a>
            <a href="{{ site.twitter_url }}" title="ClickWiki on Twitter">
                <span class="fab fa-twitter-square"></span>
            </a>
            <a href="{{ site.github_url }}" title="ClickWiki on GitHub">
                <span class="fab fa-github-square"></span>
            </a>
            <a href="{{ site.github_url }}" title="ClickWiki on Discord">
                <span class="fab fa-discord"></span>
            </a>
        </p>
    </div>
    <div class="col-12">
        <p>Wiki content is licensed under <a href="/license#CC-BY-4.0">CC-BY-4.0</a>. Website code licensed under <a href="/license#GPLv3">GPLv3</a>.</p>
    </div>
</footer>
