---
# Contains customised Bootstrap CSS as well as additional styling for ClickWiki.
#
# ClickWiki Website Source File
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# (C) Copyright 2018 Luke Horwell <code@horwell.me>
#
---

/* Bootstrap */
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
//@import "bootstrap/button-group";
@import "bootstrap/input-group";
//@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
//@import "bootstrap/card";
@import "bootstrap/breadcrumb";
//@import "bootstrap/pagination";
//@import "bootstrap/badge";
//@import "bootstrap/jumbotron";
@import "bootstrap/alert";
//@import "bootstrap/progress";
@import "bootstrap/media";
//@import "bootstrap/list-group";
//@import "bootstrap/close";
//@import "bootstrap/modal";
//@import "bootstrap/tooltip";
//@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

/* Variables */
$small-display: map-get($grid-breakpoints, sm);
$medium-display: map-get($grid-breakpoints, md);
$large-display: map-get($grid-breakpoints, lg);
$extra-large-display: map-get($grid-breakpoints, xl);

/* ClickWiki */
@import "clickwiki/bootstrap-overrides.scss";
@import "clickwiki/header.scss";
@import "clickwiki/footer.scss";
@import "clickwiki/menu.scss";
@import "clickwiki/markdown-classes.scss";
@import "clickwiki/summary.scss";
@import "clickwiki/misc.scss";
@import "clickwiki/timeline.scss";
@import "clickwiki/extlist.scss";
@import "clickwiki/search.scss";
@import "clickwiki/dark.scss";
