---
layout: default
---
<article class="page">

    <div class="page-content">
        {{ content }}

        <a class="btn btn-default float-right" href="{{ site.repo_url }}"><span class="fab fa-github"></span> View on GitHub</a>

        <div id="recent-stats">
            <a href="{{ site.issues_url }}">
                <img src="https://img.shields.io/github/issues/clickwiki/clickwiki.github.io.svg?colorA=000000&colorB=007bff&label=Issues&style=flat-square" alt="">
            </a>
            <a href="{{ site.pr_url }}">
                <img src="https://img.shields.io/github/issues-pr-raw/clickwiki/clickwiki.github.io.svg?colorA=000000&colorB=007bff&label=Pull Requests&style=flat-square" alt="">
            </a>
            <a href="{{ site.watchers_url }}">
                <img src="https://img.shields.io/github/watchers/clickwiki/clickwiki.github.io.svg?colorA=000000&colorB=007bff&style=flat-square&label=Watching" alt=""/>
            </a>
            <a href="{{ site.stars_url }}">
                <img src="https://img.shields.io/github/stars/clickwiki/clickwiki.github.io.svg?colorA=000000&colorB=007bff&style=flat-square&label=Stars" alt=""/>
            </a>
            <a href="{{ site.forks_url }}">
                <img src="https://img.shields.io/github/forks/clickwiki/clickwiki.github.io.svg?colorA=000000&colorB=007bff&style=flat-square&label=Forks" alt=""/>
            </a>
        </div>

        <noscript>
            <div class="alert alert-danger">JavaScript needs to be enabled in order to show this content.</div>
        </noscript>
        <div id="loading" class="commits-table-info">Loading...</div>
        <div id="loading-error" class="alert alert-danger" style="display:none">There is a problem retrieving this data. Please try again later.</div>
        <div id="commits-empty" class="commits-table-info" style="display:none"><strong>Nothing to show.</strong> Why not break the ice around here?</div>
        <div id="commits-forbidden" class="alert alert-danger" style="display:none"><strong>Rate limit exceeded.</strong> Please try again in an hour.</div>

        <table id="commits-table" class="table table-striped table-hover table-sm">
            <!-- Generated in recent.js -->
        </table>

    </div>

</article>
<script src="/site/js/recent.js" defer></script>
